instabot
click
colorlog
pyyaml
dataset
psutil
funcy



tqdm>=4.30.0
requests>=2.21.0
requests-toolbelt>=0.8.0
itsdangerous>=0.24
click>=5.1
schedule>=0.6.0
pysocks>=1.6.8
responses>=0.10.5
future>=0.17.1
six>=1.12.0
huepy>=0.9.8.1
