pyyaml
funcy
imagesize
ffmpeg-python
fleep
python-dotenv
simpleeval
dict_deep==2.0.2
# instagram_private_api @ git+https://github.com/ping/instagram_private_api.git@1.6.0
colorama
colorlog
click
modeller
portalocker
# dev
python-dotenv
# mock_api
populate